@import "tailwindcss";

@theme {
  --color-primary: #eeeeee;
  --color-accent: #ffc639;
  --color-secondary: #393e46;
  --color-dark: #222831;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-trasition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

button:hover {
  color: rgb(153, 153, 153);
  transition: 0.1s ease-in-out;
}

.navbar {
  padding: 15px;
}

.judulPopuler {
  padding: 10px;
}

.listTop {
  padding: 0 10px;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffc639 95%, #0000) 50% 1px/24px
      24px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 28px), #e4e4ed 0);
  animation: s9 1s infinite linear;
}
@keyframes s9 {
  to {
    transform: rotate(1turn);
  }
}

.headerPopuler {
  padding: 24px;
}

.paginationPopuler {
  padding: 16px 8px;
}

.btn {
  padding: 5px;
}

.bungkus {
  padding: 16px 16px 0;
}

.meluas {
  padding: 8px;
}

.tombol {
  padding: 0 12px;
  margin-bottom: 4px;
}

.trailerWatch {
  padding: 2px;
}

.signin {
  padding: 4px 24px;
}

.containerDashboard {
  margin-top: 24px;
}

.collection {
  padding: 24px 0;
}

.collectionButton {
  padding: 12px 16px;
}

.collectionPage {
  margin-top: 16px;
  padding: 0 16px;
}

.MyCollection {
  margin-bottom: 16px;
}

.koleksi {
  margin-top: 24px;
  padding: 4px 6px
}

.btnSend {
  padding: 8px 12px;
}

.bungkusComment {
  padding: 16px;
}

.judulComment {
  margin-bottom: 8px;
}

.paddingComment {
  padding: 8px;
}

.commentBox {
  margin-bottom: 16px;
}

.BoxCom {
  padding: 16px;
}

.paddingComment {
  padding: 16px;
}

.pGrid {
  padding: 8px 0px;
}